---
import { Icon } from 'astro-icon/components'

const currentYear = new Date().getFullYear()
---

<footer class='text-gray-200 py-20'>
  <div class='h-px w-full bg-gray-100 bg-opacity-30 mt-16 mb-16'></div>

  <!-- Footer Top Section -->
  <div class='container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8'>
    <!-- Branding -->
    <div class='flex flex-col items-start space-y-4'>
      <a href='/' class='text-2xl font-bold text-grey-400'>OpenLocalUI</a>
      <p class='text-gray-400 text-sm'>
        Your go-to solution for running large language models locally with an
        intuitive UI.
      </p>
    </div>

    <!-- Navigation Links -->
    <div class='flex flex-col space-y-4'>
      <h4 class='text-lg font-semibold text-gray-300'>Quick Links</h4>
      <a href='#features' class='hover:text-white'>Features</a>
      <a href='#screenshots' class='hover:text-white'>Screenshots</a>
      <a href='#roadmap' class='hover:text-white'>Roadmap</a>
      <a href='#cta' class='hover:text-white'>Get Started</a>
    </div>

    <!-- Contact Info -->
    <div class='flex flex-col space-y-4'>
      <h4 class='text-lg font-semibold text-gray-300'>Contact Information</h4>
      <p class='text-gray-400'>
        Email: <a href='mailto:openlocalui@gmail.com' class='hover:text-white'
          >openlocalui@gmail.com</a
        >
      </p>
      <!-- Social Media Icons (optional) -->
      <div class='flex space-x-4 mt-2'>
        <!-- Instagram -->
        <a
          href='https://www.instagram.com/Wilielmus'
          aria-label='Instagram'
          class='hover:text-white'
        >
          <Icon class='w-5 h-5' name='mdi:instagram' />
        </a>
        <!-- GitHub -->
        <a
          href='https://github.com/WilliamKarolDiCioccio/open_local_ui'
          aria-label='GitHub'
          class='hover:text-white'
        >
          <Icon class='w-5 h-5' name='mdi:github' />
        </a>
        <!-- Discord -->
        <a
          href='https://discord.gg/S82WPJbPpz'
          aria-label='Discord'
          class='hover:text-white'
        >
          <Icon class='w-5 h-5' name='mdi:discord' />
        </a>
        <!-- YouTube -->
        <a
          href='https://www.youtube.com/@Wilielmus'
          aria-label='YouTube'
          class='hover:text-white'
        >
          <Icon class='w-5 h-5' name='mdi:youtube' />
        </a>
      </div>
    </div>
  </div>

  <div class='h-px w-full bg-gray-100 bg-opacity-30 mt-16 mb-16'></div>

  <!-- Technology Section -->
  <div class='container mx-auto px-6 mt-8'>
    <p class='text-gray-500 text-sm text-center mt-6 mb-6'>Page Built with:</p>
    <div class='flex flex-row items-center justify-center space-x-6'>
      <a
        href='https://svelte.dev'
        target='_blank'
        rel='noopener noreferrer'
        class='flex items-center space-x-2 hover:text-white'
      >
        <img
          src='/icons/svelte.svg'
          alt='Svelte Logo'
          class='w-6 h-6 filter invert'
        />
        <span>Svelte</span>
      </a>
      <a
        href='https://astro.build'
        target='_blank'
        rel='noopener noreferrer'
        class='flex items-center space-x-2 hover:text-white'
      >
        <img
          src='/icons/astro.svg'
          alt='Astro Logo'
          class='w-6 h-6 filter invert'
        />
        <span>Astro</span>
      </a>
      <a
        href='https://vercel.com'
        target='_blank'
        rel='noopener noreferrer'
        class='flex items-center space-x-2 hover:text-white'
      >
        <img
          src='/icons/vercel.svg'
          alt='Vercel Logo'
          class='w-6 h-6 filter invert'
        />
        <span>Vercel</span>
      </a>
    </div>
  </div>

  <!-- Footer Bottom Section -->
  <div class='container mx-auto px-6 mt-8 text-center text-sm text-gray-500'>
    &copy; {currentYear} Di Cioccio William Karol. MIT License.
  </div>
</footer>
